.main_mvg {
    top: 0;
    position: relative;
    width: 100%;
    height: 570px;
    margin: 235px auto 0 auto;
    /* background-color: rgba(0, 191, 255, 0.301); */
}
.main_mvg .inner {
    position: relative;
    display: block;
    width: 1180px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.mvg_title {
    position: relative;
    display: block;
    width: 88px;
    height: 34px;
    background: url("https://minfo.lotteshopping.com/mobweb/resources/layout/images/lotte/main/move_tit_mvg.png") top center no-repeat;
    background-size: 100% auto;
}
.main_mvg .txt02 {
    position: relative;
    font-size: 34px;
    line-height: 40px;
    padding-top: 12px;
    font-weight: 500;
    color: #252525;
    font-weight: 500;
}
.main_mvg .txt03 {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    padding-top: 22px;
    padding-left: 3px;
    color: #9c9c9c;
    letter-spacing: -1.2px;
    font-weight: 300;
}
.main_mvg a.btn {
    position: absolute;
    text-decoration: none;
    box-sizing: border-box;
    width: 124px;
    height: 30px;
    left: 89.6%;
    top: 102px;
    text-align: center;
    padding: 6px 0;
    font-size: 13px;
    border: 1px solid #c1c3c5;
    color: #959595;
}

.main_mvg .inner .mvg_img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 20px;
}