.notice {
    display: block;
    position: relative;
    height: 200px;
    overflow: hidden;
    z-index: 10;
}
.notice ul {
    width: auto;
    position: relative;
    transition-duration: 0s;
    /* transform: translate3d(0px, -200px, 0px); */
}
.li_ad {
    background-color: #F4E8D2;
    list-style: none;
    cursor: pointer;
}
.li_ad img {
    min-width: 1180px;
    display: block;
    margin: 0 auto;
}